
importFrom(Rcpp, sourceCpp)
useDynLib(hyperfun.combined, .registration = TRUE)

################################################################################
## Exports

export(hfp)

## FRep
export(hfSphere)
## hfR
export(hfR)
## Models
export(hfModel)

################################################################################
## S3methods

## length()
## FRep
S3method("length", "HyperFunSphere")
## hfR
S3method("length", "HyperFunR")
## Models
S3method("length", "HyperFunModel")

## as.character()
## FRep
S3method("as.character", "HyperFunSphere")
## hfR
S3method("as.character", "HyperFunR")
## Models
S3method("as.character", "HyperFunModel")

## Ops
S3method("Ops", "HyperFun")

## print()
S3method("print", "HyperFun")
