
################################################################################
## Imports

importFrom(rgl, readSTL)
importFrom(Rcpp, sourceCpp)
useDynLib(hyperfun, .registration = TRUE)

################################################################################
## Exports

export(hfp)

## FRep
export(hfSphere,
       hfBlock,
       hfBlobby,
       hfSuperell,
       hfTorus,
       hfElliCone,
       hfCone,
       hfElliCylinder,
       hfCylinder,
       hfEllipsoid)
## hfR
export(hfR)
## Models
export(hfModel)

################################################################################
## S3methods

## hfp()
S3method("hfp", "HyperFunObject")
S3method("hfp", "HyperFunModel")
S3method("hfp", "character")

## length()
## FRep
S3method("length", "HyperFunSphere")
S3method("length", "HyperFunBlock")
S3method("length", "HyperFunBlobby")
S3method("length", "HyperFunSuperellipsoid")
S3method("length", "HyperFunTorus")
S3method("length", "HyperFunEllipticCone")
S3method("length", "HyperFunCone")
S3method("length", "HyperFunEllipticCylinder")
S3method("length", "HyperFunCylinder")
S3method("length", "HyperFunEllipsoid")
## hfR
S3method("length", "HyperFunR")
## Models
S3method("length", "HyperFunModel")

## as.character()
## FRep
S3method("as.character", "HyperFunSphere")
S3method("as.character", "HyperFunBlock")
S3method("as.character", "HyperFunBlobby")
S3method("as.character", "HyperFunSuperellipsoid")
S3method("as.character", "HyperFunTorus")
S3method("as.character", "HyperFunEllipticCone")
S3method("as.character", "HyperFunCone")
S3method("as.character", "HyperFunEllipticCylinder")
S3method("as.character", "HyperFunCylinder")
S3method("as.character", "HyperFunEllipsoid")
## hfR
S3method("as.character", "HyperFunR")
## Models
S3method("as.character", "HyperFunModel")

## Ops
S3method("Ops", "HyperFun")

## print()
S3method("print", "HyperFun")

## plot()
S3method("plot", "HyperFunObject")
S3method("plot", "HyperFunModel")
